.navbar{
    background-color: #2d2c2c;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 50px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    display: flex;
    justify-content: center;
}

.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.navbar ul li a{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color:var(--white);
}

@media screen and (max-width: 768px){

.navbar ul{
    gap: 1.5rem;
}
.navbar ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.1em;

}

.navbar ul li a.active{
    color: #98a5d5;
}
.navbar ul li p{
margin:0;
}
.navbar{

    min-height: 60px;
    top: unset;
    bottom: 0;
}

}