.payment-container{
    padding: 10%;
    margin-bottom: 80px;
    width: 100%;
}
.order-details{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-right: 10%;

}

.order-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.259);
    padding-bottom: 20px;

}

.order-body-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: rgb(240, 252, 252); */
    color: rgb(0, 0, 0);
    padding: 2%;
    
}

.order-body-top-img{
    width: 20%;

}

.order-body-top-img img{
    height: 50px;
    width: 50px;

}

.order-body-top-content{
    width: 50%;
}

.order-body-bottom-content p{
    margin: 0px;
    padding: 5px;
}
.order-body-top-content p{
    margin: 0px;
    padding: 5px;
}

.order-body-top-price{
    width: 40%;
    display: flex;
    justify-content: flex-end
}

.order-body-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: rgb(240, 252, 252); */
    color: rgb(0, 0, 0);
    padding: 2%;
    
}
.order-body-top-content{
    display: flex;
    flex-direction: column;
}

.order-body-bottom-img{
    width: 20%;

}

.order-body-bottom-img img{
    height: 50px;
    width: 50px;

}

.order-body-bottom-content{
    width: 50%;
}

.order-body-bottom-price{
    width: 40%;
    display: flex;
    justify-content: flex-end
}

.order-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgb(0, 0, 0);
    
}

.order-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}


@media  (max-width:768px) {
    
    .payment-container{
        width: auto;
    }

    .order-details{
        padding: 0;
        width: 100%;
    }
    
    .order-body-top {
        gap: 20px;
        padding: 10px;
    }

    .order-body-top-img {
        width: 20%;
    }

    .order-body-top-content {
        width: 60%;
    }

    .order-body-top-price {
        width: 20%;
    }
    .order-body-bottom {
        gap: 20px;
        padding: 10px;
    }

    .order-body-bottom-img {
        width: 20%;
    }

    .order-body-bottom-content {
        width: 60%;
    }

    .order-body-bottom-price {
        width: 20%;
    }

    .button-27{
        width: 100%;
    }

}